body {
    height: 100vh;
    margin: 0;
    z-index: 0;
}

#header {
    height: 25vh;
    clip-path: polygon(100% 0, 100% 38%, 53% 64%, 0 100%, 0 0);
    background-color: #5798ca;
    z-index: 1;
    box-shadow: 13px 13px 15px rgb(0, 0, 0);
}
#header-shadow {
    filter: drop-shadow(-1px 2px 2px rgba(50, 50, 0, 0.5));
}