body {
    height: 280vh;
    margin: 0;    
}

.header {
    height: 90vh;
}
#angled {
    height: 90vh;
    clip-path: polygon(100% 0, 100% 38%, 53% 64%, 0 100%, 0 0);
    background-color: #57b1ca;
    z-index: 1;
}

.top-image{
    height: 80vh;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
    -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.imgdiv {
    z-index: 2;    
}
.aboutimg {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5%;
    left: 7%;
    align-items: center;
}
.about {
    font-size: x-large;
    background-color: aliceblue;
    height: 40vh;
    width: 45%;
    padding: 25px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
    -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
}
#main-section {
    height: 100vh;
}

#footer {
    background-color: #57b1ca;
    height: 90vh;
}



.work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 2fr));
    gap: 20px; /* Adjust the gap between items as needed */
    padding: 20px; /* Optional: Add padding around the grid */
}
.item {
    background-color: #f0f0f0; /* Optional: Background color for items */
    border: 1px solid #ddd; /* Optional: Border around items */
    border-radius: 5px; /* Optional: Rounded corners */
    overflow: hidden; /* Optional: Hide overflow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}
.screenshot {
    background-color: #ccc; /* Optional: Background color for screenshots */
    height: 28vh; /* Adjust the height of the screenshot area */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Optional: Font size for the placeholder text */
    color: #333; /* Optional: Text color for the placeholder text */
}
.descriptionContainer {
    padding: 10px; /* Padding inside the description container */
    height: 10vh;
}
.name {
    font-weight: bold;
    margin-bottom: 5px; /* Space below the project name */
}