body {
    height: 280vh;
    margin: 0;    
}
h3 {
    font-size: 28px;
}
.header {
    height: 90vh;
}
#angled {
    height: 90vh;
    clip-path: polygon(100% 0, 100% 38%, 53% 64%, 0 100%, 0 0);
    background-color: #57b1ca;
    z-index: 1;
}
.top-image{
    height: 80vh;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
    -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
    /* position: absolute; */
    top: 34px;
    left: 3vw;
}
.imgdiv {
    z-index: 2;    
}
.aboutimg {
    display: flex;
    flex-direction: row;
    /* position: absolute;
    top: 5%;
    left: 7%; */
    align-items: center;
    position: absolute;
    top: 4vh;
    padding: 0px 40px;
}
.about {
    overflow: auto;
    /* position: absolute; */
    top: 150px;
    /* right: 0%; */
    left: 91vh;
    font-size: x-large;
    background-color: aliceblue;
    height: 45vh;
    /* width: 48vw; */
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
    -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
}
.icons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.icons > img {
    width: 34px;
    padding: 5px;
}
.about > p {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
#main-section {
    height: 100vh;
    margin: 40px
}
.mywork {
    font-size: x-large;
}
.work {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(40vh, 2fr)); */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px; /* Adjust the gap between items as needed */
    padding: 0px; /* Optional: Add padding around the grid */
}
.item {
    background-color: #f0f0f0; /* Optional: Background color for items */
    border: 1px solid #ddd; /* Optional: Border around items */
    border-radius: 5px; /* Optional: Rounded corners */
    overflow: hidden; /* Optional: Hide overflow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}
.screenshot {
    background-color: #ccc; /* Optional: Background color for screenshots */
    height: 28vh; /* Adjust the height of the screenshot area */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Optional: Font size for the placeholder text */
    color: #333; /* Optional: Text color for the placeholder text */
}
.descriptionContainer {
    overflow: auto; /* or overflow: scroll; */
    padding: 10px; /* Padding inside the description container */
    height: 11vh;
}
.descriptionContainer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.name {
    font-weight: bold;
    margin-bottom: 5px; /* Space below the project name */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer {
    background-color: #57b1ca;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contact-details{
    color: aliceblue;
    font-size: x-large;
}
.contact-details > h3 {
    font-size: xx-large;
}
.contact-details > p {
    font-family: 'Roboto', sans-serif;
}
.contact-details-icon > img {
    width: 36px;
    padding: 5px;
}
.name-icons > img {
    width: 20px;
    padding-right: 5px;
}
.footerimg {
    height: 80vh;
}

/* Media query for tablet */
@media (min-width: 501px) and (max-width: 1000px) {
    body {
        height: 230vh;
    }

    .header {
        height: 60vh;
    }
    #angled {
        height: 50vh;
    }
    .top-image {
        height: 39vh;
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
        -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
        z-index: 2;
        float: left; /* Float the image to the left */
        margin-right: 20px; /* Add some margin to the right of the image for spacing */

    }
    
    .imgdiv {
        float: left;
        height: 24vh;
        /* width: 26vh; */
        width: 310px;
        background: aliceblue;
        margin: 5px;

    }

    .aboutimg {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Align items to the start (top) of the flex container */
        max-width: min-content;
    }
    
    .about > p {
        font-size: 16px;
    }

    .about {
        font-size: x-large;
        background-color: aliceblue;
        height: 40vh;
        width: 76vw;
        padding: 25px;
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3),
            -3px -3px 8px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 12vh;
        left: 70px;
    }
    
    #main-section {
        height: 130vh;
        margin: 40px;
    }

    .screenshot {
        height: 26vh;
    }

    .descriptionContainer {
        height: 11vh;
    }
    .descriptionContainer > p {
        font-size: 12px;
    }
    .work {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px; /* Adjust the gap between items as needed */
        padding: 0px; /* Optional: Add padding around the grid */
    }
    #footer {
        padding: 0px 40px;
        height: 62vh;
    }
    .contact-details {
        font-size: medium;
    }
    .footerimg {
        height: 350px;
    }
}

/* Media query for mobile */
@media (max-width: 500px) {
    body {
        height: auto;
    }
    
    .header {
        height: 50vh;
    }
    .top-image {
        height: 50vh;
    }
    .aboutimg {
        flex-direction: column;
    }
    .about {
        height: auto;
        width: 90%; /* Adjusted width for mobile */
    }

    .work {
        grid-template-columns: auto; /* Adjusted grid for mobile */
        gap: 10px; /* Adjusted gap between items for mobile */
    }
}
